<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Event Management System</title>
  <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/superhero/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-white">
  <div class="container mt-5 text-dark">
    <h1 class="mb-4">Event Management System</h1>
    <p>Welcome to our Event Management System! This system allows you to create and manage events, handle attendee registrations, and provide event-related information to participants.</p>
    <p>Use the navigation links below to get started:</p>
    <ul>
      <li><a href="/attendees/register" class="btn btn-success">Register Attendee</a></li><br>
      <li><a href="/events/create" class="btn btn-success">Create Event</a>
      </li><br>
      <li><a href="/attendees" class="btn btn-success">View All Attendees</a></li><br>
      <li><a href="/events" class="btn btn-success">View Events</a></li>
    </ul>
  </div>

</body>
</html>
